html, body {
    height: 100vh;
}
.container-fluid {
    background-color: bisque;
}
#map {
    height: 100vh;
    width: 100%;
}
.geocode-address {
    padding: 0 10px;
}
.geocode-address:hover {
    background-color: rgba(166, 219, 237, .5);
    font-weight: bold;
}